body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  background: white;
}

body a {
  color: rgb(203, 232, 255);
  font-weight: bold;
  text-decoration: none;
}

body a:hover {
  color: white;
}

/* .container {
  border-left: 15px solid rgb(203, 232, 255);
  border-right: 15px solid rgb(203, 232, 255);
} */

header {
  background-image: url('https://i.imgur.com/IC1xXJY.jpg');
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

header div {
  padding: 2em 7vw;
}

header h1 {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -1.8px;
}

/* .header:after {
  content: '';
  position: absolute;
  top: 88%;
  left: 0;
  height: 50%;
  width: 150%;
  background: rgb(255, 255, 255);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  transform: rotate(-1deg);
} */

.middle-nav {
  background-color: #dceefd;
  min-height: 120px;
  top: -100px;
  position: sticky;
}

.content {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 3.5em 10vw;
  padding-bottom: 0;
}

footer {
  color: white;
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0) 40%,
    rgb(51, 68, 62) calc(40% + 2px)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  z-index: 999;
}

footer > div {
  padding: 0.5em 10vw;
  text-align: right;
}
